/* BUTTONS */
.button,
.confirm-button-class {
  background-color: var(--button-color) !important;
  color: #ffffff !important;
  border: 1px solid !important;
}

.button:hover,
.confirm-button-class {
  background-color: var(--button-color-hover) !important;
  color: #ffffff !important;
  border: 1px solid !important;
}

.button2 {
  background-color: var(--button-color-2) !important;
  color: #ffffff !important;
  border: 1px solid !important;
}

.button2:hover {
  background-color: var(--button-color-2-hover) !important;
  color: #ffffff !important;
  border: 1px solid !important;
}

.mybutton {
  width: 100%;
  padding: 10px !important;
  margin-bottom: 20px !important;
  background-color: var(--button-color) !important;
  color: #ffffff !important;
  border: 1px solid !important;
}

.mybutton:hover {
  background-color: var(--button-color-hover) !important;
}

/* FORM CONTAINERS (cards) */
.mycard {
  margin: 0 auto;
}

.card-border {
  margin-top: 30px;
}

.card-footer {
  text-align: center;
}

.logIn-SignUp {
  width: 500px;
}

.padre-logIn-SignUp,
.card-border {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo-logIn-SignUp,
.mycard {
  width: 500px;
}

.centrado {
  text-align: center;
}


/* FORM */
.auth-title {
  color: var(--dark-color-title);
  margin: 0 auto;
  padding: 30px;
}

.myform {
  margin: 0 auto;
  width: 80%
}

.form-control {
  border: 1px solid #2541B2 !important;
}

.forgot-pass {
  color: #2541B2;
  font-weight: 500;
  text-align: end;
  padding: 1px;
}

.label {
  font-size: 1rem;
  font-weight: bold;
}

.titleName {
  text-align: center;
  color:var(--dark-color-title);
  /* margin-bottom: 18px;  */
}

/* MEDIA */
@media (max-width: 768px) {
  .titleName {
    margin-bottom: 18px;
  }
}