@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap');


Navbar, .navbar {
  background-color: var(--bg-color-header) !important;
  padding: 10px !important;
}


.title {
  font-size: 2rem !important;
  color: var(--main-bg-color) !important }

.mr-auto {
    margin-left: 50px !important;
  }
  

.right-section {
  margin-right: 20px !important;
}

.logout {
  margin-left: 20px !important;
}

.end-section {
  margin-left: auto !important;
  margin-right: 20px !important;
}