@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, label, span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  background-color: #EDF6F9;
}

.card {
  width: 40%;
  margin: 0 auto;
}

.card-border {
  margin-top: 30px;
}

.card-footer {
  text-align: center;
}

.auth-title {
  color: #006D77;
  margin: 0 auto;
  padding: 30px;
}

form {
  margin: 0 auto;
  width: 80%
}

.form-control {
  border: 1px solid #83C5BE !important;
}

button {
  width: 100%;
  background-color: #E29578 !important;
  border: 1px solid #E29578 !important;
  padding: 10px !important;
  margin-bottom: 20px !important;
}

button:hover {
  background-color: #f7b6a0 !important;
  border: 1px solid #f7b6a0 !important;
}

.forgot-pass {
  color: #83C5BE ;
  font-weight: 500;
  text-align: end;
  padding: 1px;
}
